/* YMLib自带样式 开始 */
body
{
    font-size:12px;
}
img{
	border : 0px;
}
A:link {
 color: #000000;
 TEXT-DECORATION: none
}
A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
A:hover {
 COLOR: #ff7f24;
}
A:active {
 COLOR: #ff7f24;  
}
.left_div A:link {
 color: #000000;
 TEXT-DECORATION: none
}
.left_div A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
.left_div A:hover {
 COLOR: #ff7f24;
}
.left_div A:active {
 COLOR: #ff7f24;  
}
.left_div{
	text-align: center;
	margin:10px;
}
.left_div div{
	margin-top: 8px;
}
.left_div img{
	margin : 10px;
}
input.blue{
	border: 1px solid #95b8e7;
}
/* YMLib自带样式 结束 */

/* 报表的样式 开始 */
.table{ border:0; border-left:1px solid #333333; border-bottom:1px solid #333333; text-align:center; font-size:12px; line-height:24px;}
.table tr{}
.table tr td{ border:1px solid #333333; border-left:0; border-bottom:0; padding:5px;}
.table input,.table textarea{
	border:0px;
	overflow: hidden;
}
/* 报表的样式 结束 */


.tableedit{ border:0; border-left:1px solid #333333; border-bottom:1px solid #333333; text-align:center; font-size:12px; line-height:24px;}
.tableedit tr{}
.tableedit tr td{ border:1px solid #333333; border-left:0; border-bottom:0; padding:5px;}


/* 用table布局的表单元素样式 开始 */
.tableform{ border:0; border-left:1px solid #96b8e6; border-bottom:1px solid #96b8e6; text-align:center; font-size:12px; line-height:24px;}
.tableform tr{}
.tableform tr td{ border:1px solid #96b8e6; border-left:0; border-bottom:0; padding:2px;}
.tableform input,.tableform textarea{
	border:1px solid #95b8e7
}

/* 表格无边框（多用于弹出窗口） */
.tableform2{ border:0; border-left: 0; border-bottom:0 ; text-align:center; font-size:12px; line-height:24px;}
.tableform2 tr{}
.tableform2 tr td{ border: 0 ; border-left:0; border-bottom:0; padding:2px;}
.tableform2 input,.tableform2 textarea{
	border:1px solid #95b8e7
}

/* 用于：除雪快报中addCxkb.jsp */
.tableform3{ border:0; border-left:1px solid #000000; border-bottom:1px solid #000000 ; text-align:center; font-size:12px; line-height:24px;}
.tableform3 tr{}
.tableform3 tr td{ border:1px solid #000000 ; border-left:0; border-bottom:0; padding:2px;}
.tableform3 input,.tableform3 textarea{
	border:0
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}
/* 用table布局的表单元素样式 结束 */
/* 美工自定义设计的按钮相关 开始 */
.input_bc{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_bc.png) no-repeat; border:0;}
.input_bc:hover{ background:url(../../images/input_bc_hover.png) no-repeat;}

.input_bj{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_bj.png) no-repeat; border:0;}
.input_bj:hover{ background:url(../../images/input_bj_hover.png) no-repeat;}

.input_cx{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_cx.png) no-repeat; border:0;}
.input_cx:hover{ background:url(../../images/input_cx_hover.png) no-repeat;}

.input_dc{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_dc.png) no-repeat; border:0;}
.input_dc:hover{ background:url(../../images/input_dc_hover.png) no-repeat;}

.input_dr{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_dr.png) no-repeat; border:0;}
.input_dr:hover{ background:url(../../images/input_dr_hover.png) no-repeat;}

.input_dy{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_dy.png) no-repeat; border:0;}
.input_dy:hover{ background:url(../../images/input_dy_hover.png) no-repeat;}

.input_fh{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_fh.png) no-repeat; border:0;}
.input_fh:hover{ background:url(../../images/input_fh_hover.png) no-repeat;}

.input_gb{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_gb.png) no-repeat; border:0;}
.input_gb:hover{ background:url(../../images/input_gb_hover.png) no-repeat;}

.input_ll{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_ll.png) no-repeat; border:0;}
.input_ll:hover{ background:url(../../images/input_ll_hover.png) no-repeat;}

.input_qx{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_qx.png) no-repeat; border:0;}
.input_qx:hover{ background:url(../../images/input_qx_hover.png) no-repeat;}

.input_sc{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_sc.png) no-repeat; border:0;}
.input_sc:hover{ background:url(../../images/input_sc_hover.png) no-repeat;}

.input_tj{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_tj.png) no-repeat; border:0;}
.input_tj:hover{ background:url(../../images/input_tj_hover.png) no-repeat;}

.input_tongj{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_tongj.png) no-repeat; border:0;}
.input_tongj:hover{ background:url(../../images/input_tongj_hover.png) no-repeat;}

.input_jf{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_jf.png) no-repeat; border:0;}
.input_jf:hover{ background:url(../../images/input_jf_hover.png) no-repeat;}

.input_sb{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_sb.png) no-repeat; border:0;}
.input_sb:hover{ background:url(../../images/input_sb_hover.png) no-repeat;}

.input_tz{ width:64px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_tz.png) no-repeat; border:0;}
.input_tz:hover{ background:url(../../images/input_tz_hover.png) no-repeat;}

.input_zdy{ width:76px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_zdy.png) no-repeat; border:0;}
.input_zdy:hover{ background:url(../../images/input_zdy_hover.png) no-repeat;}

.input_ss{ width:76px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_ss.png) no-repeat; border:0;}
.input_ss:hover{ background:url(../../images/input_ss_hover.png) no-repeat;}

.input_yylspb{ width:116px; height:22px; overflow:hidden; cursor:pointer; background:url(../../images/input_yylspb.png) no-repeat; border:0;}
.input_yylspb:hover{ background:url(../../images/input_yylspb_hover.png) left center no-repeat;}
/* 美工自定义设计的按钮相关 结束 */

/** 哈密项目-后台权限index.jsp **/
/** 病害 */
.htglindexbhlx{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_001.png) 13px center no-repeat;
}
.htglindexbhlx:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_001_hover.png) 13px center no-repeat;
}
/** 养护类别管理 */
.htglindexyhlbgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_002.png) 13px center no-repeat;
}
.htglindexyhlbgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_002_hover.png) 13px center no-repeat;
}
/** 工料机管理 */
.htglindexgljgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_003.png) 13px center no-repeat;
}
.htglindexgljgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_003_hover.png) 13px center no-repeat;
}
/** 部门管理管理 */
.htglindexbmgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_004.png) 13px center no-repeat;
}
.htglindexbmgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_004_hover.png) 13px center no-repeat;
}
/** 路段管理 */
.htglindexldgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_005.png) 13px center no-repeat;
}
.htglindexldgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_005_hover.png) 13px center no-repeat;
}
/** 人员管理 */
.htglindexrygl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_006.png) 13px center no-repeat;
}
.htglindexrygl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_006_hover.png) 13px center no-repeat;
}
/** 用户管理 */
.htglindexyhgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_007.png) 13px center no-repeat;
}
.htglindexyhgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_007_hover.png) 13px center no-repeat;
}
/** 角色权限管理 */
.htglindexjsqxgl{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#000000;
	background:#D7F3F7 url(../../images/nav_008.png) 13px center no-repeat;
}
.htglindexjsqxgl:hover{
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_008_hover.png) 13px center no-repeat;
}
/**点击的Class**/
/** 病害 */
.htglindexbhlx2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_001_hover.png) 13px center no-repeat;
}
/** 养护类别管理 */
.htglindexyhlbgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_002_hover.png) 13px center no-repeat;
}
/** 工料机管理 */
.htglindexgljgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_003_hover.png) 13px center no-repeat;
}
/** 部门管理 */
.htglindexbmgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_004_hover.png) 13px center no-repeat;
}
/** 路段管理 */
.htglindexldgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_005_hover.png) 13px center no-repeat;
}
/** 人员管理 */
.htglindexrygl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_006_hover.png) 13px center no-repeat;
}
/** 用户管理 */
.htglindexyhgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_007_hover.png) 13px center no-repeat;
}
/** 角色权限管理 */
.htglindexjsqxgl2{
	height:50px;
	line-height:50px;
	overflow:hidden;
	padding : 0 10px 0 55px;
	color:#FFFFFF;
	background:#70D2E0 url(../../images/nav_008_hover.png) 13px center no-repeat;
}

/* 消息推送的图标 开始 */
.count{
   position:absolute;
   right:20px;
   top:6px;
   width:44px;
   height:40px;
   background-repeat: no-repeat;
   background-image: url('../../images/count_bg.png')
}
  

.count1{
   background-position: -16px -41px;
}
.count2{
   background-position: -16px -84px;
}
.count3{
   background-position: -16px -126px;
}
.count4{
   background-position: -16px -168px;
}
.count5{
   background-position: -16px -210px;
}
.count6{
   background-position: -16px -252px;
}
.count7{
   background-position: -16px -294px;
}
.count8{
   background-position: -16px -336px;
}
.count9{
   background-position: -16px -378px;
}
.count10{
   background-position: -16px -420px;
}
/* 消息推送的图标 结束 */

/* 自定义的系统16x16的png小图标 开始 */
.home{
	background:url('icons/home.png') no-repeat center center;
}
.icon-view{
	background:url('icons/icon-view.png') no-repeat center center;
}
.titleimage{
	background:url('icons/position.png') no-repeat center center;
}

/* 自定义的系统16x16的png小图标 结束 */
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/icon-add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.grid{
	background:url('icons/grid.png') no-repeat center center;
}
.chart{
	background:url('icons/chart.png') no-repeat center center;
}

/** 哈密项目自定义图标 - 开始 */
.box-add{
	background:url('icons/box_tit_add.png') no-repeat center center;
}
.box-edit{
	background:url('icons/box_tit_edit.png') no-repeat center center;
}
.box-delete{
	background:url('icons/box_tit_delete.png') no-repeat center center;
}
.box-qdhf{
	background:url('icons/button_qdhf.png') no-repeat center center;
}
.box-qyhf{
	background:url('icons/button_qyhf.png') no-repeat center center;
}
/** 哈密项目自定义图标 - 结束 */

.iMap{
	background:url('icons/imap.png') no-repeat center center;
}



.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

/* 保存按钮 */
.save_button{
	background:url(../../images/box_button.png);
	height: 30px;
	width: 80px;
	cursor:pointer;
	border:0;
}
.save_button:hover{
	background:url(../../images/box_button_hover.png);
}
