<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/xsd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.hmglyh.basicData.mapper.BbMapper">
	<!-- 查询某种类型的子节点 -->
	<select id="getChildren" resultType="com.hdsx.hmglyh.util.Combotree" parameterType="Bbkzb">
	SELECT bbid id,bbmc text FROM jcpd_bbkzb  WHERE (bblx)='0203'
	</select>
</mapper>
